html{
    /* suavização do scroll */
    scroll-behavior: smooth;
}

body {
    /* background */
    background-color: #f2e7bc;
    
    /* texto */
    color: #0d0d0d;
    text-align: justify;

    /* alinhamento e tamanho */
    /* 1rem = 16px, tela grande = font-size: 16px, tela media = font-size: 15px, tela pequena = font-size: 14px */

    margin: auto;
}

/* seções do livro */
section {
    /* espaçamento dentro da seção */
    padding: 64px 256px;
}

/* tabela */
table{
    /* largura */
    width: 100%;
}
td{
    /* background */
    background-color: #a9d9d0;
}
tr {
    /* background */
    background-color: #038c7f;
}
td, th{
    /* borda no formato shorthand */
    border: black solid 1px;
    border-radius: 4px;
    /* alhinhamento do texto */
    text-align: center;
}

/* titulo texto e paragrafos */

p{
    text-align: justify;
    text-indent: 50px;
}
h1, h2, h3 {
    text-align: center;
}
h3 {
    color: black;
}

/* links */
a:link{
    color: #f2e7dc; /* link normal */
}
a:visited {
    color: #95bfe8; /* link visitado */
}
a:hover {
    color: #025454; /* mouse sobre o link */
}
a:active {
    color: #0d0d0d; /* link visitado */
}

/* imagem */
img{
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 50px;
}

/* classes e ids */
.bookTittle{
    background-color: #a9d9d0;
    color: #027373;
    text-align: center;
}

#sectionHP, #sectionRenata, #sectionSauropods{
    background-color: #a9d9d0;
}
#header{
    background-color: #038c7f;
    color: #f2e7dc;
    padding: 20px;
    margin-bottom: 0px;
}
#yourLibrary{
    text-indent: 0px;
    text-align: center;
}
#sumary{
    background-color: #038c7f;
    color: #f2e7dc;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 0 0 50px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* roda pé */
footer{
    background-color: #038c7f;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: large;
}